﻿@model IEnumerable<StoreApp.Domains.AuditTrail>

@{
    ViewBag.Title = "CheckAuditLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckAuditLogs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfAction)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfAction)
        </td>
    </tr>
}

</table>
