﻿@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HomePage</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="center-block">
                    <i class="glyphicon glyphicon-dashboard" style="size: 50px"></i>
                    <p>@Html.ActionLink("Check Audit Logs", "CheckAuditLogs", "Staff")</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="center-block">
                    <i class="glyphicon glyphicon-inbox" style="size: 50px"></i>
                    <p>@Html.ActionLink("Check Invoices", "CheckAllInvoices", "Staff")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="center-block">
                    <i class="glyphicon glyphicon-barcode" style="size: 50px"></i>
                    <p>@Html.ActionLink("Check Orders", "CheckOrders", "Staff")</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="center-block">
                    <i class="glyphicon glyphicon-user" style="size: 50px"></i>
                    <p>@Html.ActionLink("Check Users List", "", "")</p>
                </div>
            </div>
        </div>
    </div>
</div>