﻿@model List<StoreApp.Domains.Item>

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <ul class="nav navbar-nav navbar-right" style="padding: 20px;">
        <li class="navbar-btn" style="font-size: 40px">
            @Html.ActionLink(" ", "OpenCartPage",null,new {@class="glyphicon glyphicon-shopping-cart"})
        </li>
    </ul>
</div>


<div class="container-fluid" style="padding: 100px;">
    @for (var i = 0; i < Model.Count; i += 4 )
    {
        <div class="row">
            @for (var j = i; j < i + 4; j++)
            {
                if (j < Model.Count)
                {
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="@Model[j].ItemImageLocation" alt="Picture of @Model[j].ItemName"/>
                                <h3 class="text-center">@Model[j].ItemName</h3>
                                <p class="text-center">@Model[j].ItemPrice.ToString().Split('.')[0]</p>
                                <button class="btn btn-success center-block">@Html.ActionLink("Add To Cart", "AddToCart", new {itemId = Model[j].Id})</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>
