﻿@using StoreApp.Domains
@model StoreApp.Domains.Cart

@{
    ViewBag.Title = "OpenCartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Item Quantity</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var items in Model.CartItems)
            {
                <tr>
                    <td>@items.Item.ItemName</td>
                    <td>@items.Item.ItemPrice</td>
                    <td>
                        @items.Quantity
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink(" ", "IncreaseQuantity", new {itemId = items.Id}, new {@class = "btn btn-primary glyphicon glyphicon-plus-sign"})
                            </li>
                            <li>
                                @Html.ActionLink(" ", "DecreaseQuantity", new {itemId = items.Id}, new {@class = "btn btn-danger glyphicon glyphicon-minus-sign"})
                            </li>
                        </ul>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <button class="btn btn-success form-control">@Html.ActionLink("Check Out", "")</button>
    </div>
</div>